* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #000000;
    --text-clor: #efefef
}

html {
    height: 100%;
    width: 100%;
    font-family: system-ui;
}

button {
    cursor: pointer;
}

main {
    height: 100vh;
}

body {
    background: var(--bg-color);
    color: var(--text-clor);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 10px;
}

nav p {
    font-size: 24px;
}

nav p span {
    color: rgb(255, 0, 51);
    font-size: 20px;
}

nav button {
    padding: 10px;
    border: 1px solid #ffff00;
    background: #4b4b0c;
    color: var(--text-clor);
    font-size: 18px;
    border-radius: 5px;
}

.task-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    gap: 10px;
    position: sticky;
    top: -10px;
    background: #141414;
}

.board {
    padding: 20px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    height: calc(100% - 90px);
}

.task-column {
    height: 100%;
    background: #141414;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: 0.2s ease-in-out;
    overflow-y: auto;
    scrollbar-width: thin;
    overflow-x: none;
}

.hover-over {
    border: 2px dashed var(--text-clor);
    scale: 1.05;
}

.task {
    background: #1f1f1f;
    padding: 10px;
    border-radius: 5px;
}

.delete-btn {
    background: #a20000;
    padding: 6px 10px;
    border: none;
    outline: none;
    color: var(--text-clor);
    float: right;
    margin-top: 10px;
    font-weight: 700;
}

.edit-btn {
    background: #7cd1ff;
    padding: 6px 10px;
    border: none;
    outline: none;
    color: #000000;
    float: right;
    margin-top: 10px;
    font-weight: 700;
    margin-right: 10px;
}

.add-new-task {
    width: 100%;
    height: 100%;
    display: none;
    z-index: 2;
}

.backdrop {
    width: 100%;
    height: 100vh;
    background: #00000083;
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(2px);
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 500px;
    height: auto;
    transform: translate(-50%, -50%);
    background: #2c2c2c;
    z-index: 4;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}

.add-new-task.active {
    display: block;
}

.popup input,
.popup textarea {
    width: 100%;
    padding: 5px;
    background: #5050505d;
    border: 1px solid #ffffff;
    font-family: system-ui;
    font-size: 16px;
    color: #ffffff;
    outline: none;
    border-radius: 5px;
}

.add-task-btn {
    background: #fff4ca;
    border: 0;
    outline: 0;
    padding: 8px 16px;
    border-radius: 5px;
}

.task input,
.task textarea {
    width: 100%;
    padding: 5px;
    background: #5050505d;
    border: 1px solid #ffffff;
    font-family: system-ui;
    font-size: 16px;
    color: #ffffff;
    outline: none;
    border-radius: 5px;
    margin-bottom: 5px;

}

@media screen and (max-width:500px) {
    .board {
        flex-direction: column;
    }

    .popup {
        width: 95%;
    }
}